<h2>Login usuarios</h2>
<hr>

<form action="">
    <div id="mensaje"></div>
    <input type="email" id="email" placeholder="correo electrónico" name="email">
    <input type="password" id="password" placeholder="contraseña" name="password">

    <input type="submit" value="Ingresar" id="btnSubmit">
</form>

<script src="/js/login.js"></script>